<!-- <nav class="navbar fixed-top">
  <div class="container-fluid">
      <span class="navbar-text backarrow" *ngIf="transTitle ||  !showBellIcon " (click)="navigateBack()">
          <a> <img src="assets/img/icons/icon-back-arrow.svg" > </a>
        </span>
  
      <span class="navbar-text" *ngIf="showUserIcon ">
        <img src="assets/img/icons/icon-profile.svg" alt="" />
      </span>
      
      <span class="userName " *ngIf="!pageTitle && showBellIcon">
        <h6 class="text-center">{{userName}}</h6>
      </span>
      
      <span class="userName w-100" *ngIf="showBackArrow">
        <h6 class="text-center">{{ pageTitle }}</h6>
      </span>

      <span class="userName w-100" *ngIf="!userName && showBackArrow ">
        <h6 class="text-center">{{ transTitle }}</h6>
      </span>

      <span class="accountBalance" *ngIf="pageTitle && !userName">
        <div>
          <span> 20-92-60 </span>
          <span> 50419680 </span>
        </div>
      </span>
      <span class="navbar-text" *ngIf="showBellIcon">
        <img src="assets/img/icons/icon-bell.svg" alt="" />
      </span>
  </div>
</nav> -->
