:root {
    // --primary-color: #0071b7;
    --primary-color : #0176b6;
    --secondary-color: #2ecc71;
    --accent-color: #e74c3c;
    --text-color: #01395c;
    --text-dark: #023a5d;
    --grey-100 :#b2b2b2;
    --grey-200: #7b7b7b;
    --bg-grey: #f6f5f3;
  }